#my_header {
	color: #ffffff;
}
#my_header a{
	color: #ffffff;
}
#my_header .navbar {
	background-color: rgba(64,186,188,0.8);
	color: #ffffff;
}

#my_header li,#my_header ul {
	margin-left: 20px;
}
#my_header ul li a:hover,#my_header ul li a:focus,#my_header ul .active a {
	background-color: rgba(51,204,204,1.0);
}
#my_header ul li:first-child {
	width: 86px;
	text-align: center;
}
body {
	font-family:"微软雅黑","Microsoft Yahei" !important;
}