/*.content {
	overflow: hidden;
}*/
body {
	font-family:"微软雅黑","Microsoft Yahei" !important;
	background-color: rgba(238,238,238,0.5);
}

#my_header {
	color: #ffffff;

	/*margin-left: 15%;*/
}
#my_header a{
	color: #ffffff;
}
#my_header .navbar {
	/*opacity:0.9;*/
	background-color: rgba(64,186,188,0);
	color: #ffffff;
}
#my_header .navbar:hover {
	background-color: rgba(64,186,188,0.2);
	color: #ffffff;
}
#my_header li,#my_header ul {
	margin-left: 20px;
}
#my_header ul li a:hover,#my_header ul li a:focus,#my_header ul .active a {
	background-color: rgba(51,204,204,0.2);
}
#my_header ul li:first-child {
	width: 86px;
	text-align: center;
}

#wrapBox {
	/*height: 100%;*/
	/*position: relative;*/
	transform: translate3d(0px,-1012px,0px);
	/*transition: all 500ms ease;*/
}

#wrapBox .section1 {
	background-image: url("../image/section1.jpg");
}
#wrapBox .section .title {
	font-size: 30px;
	color: #ffffff;
	font-weight: 800;
	margin-left: 130px;
	float: left;
	display: inline;
}
#wrapBox .section .title p {
	margin-top: 30px;
}
#wrapBox .section .content {
	background-color:rgba(221,221,221,0.2);
	font-size: 20px;
	color: #ffffff;
	width: 400px;
	height: 400px;
	margin-left: 30%;
	line-height: 50px;
	float: left;
	display: inline;
}
#wrapBox .section2 {
	background-image: url("../image/section2.jpg");
}
#wrapBox .section3 {
	background-image: url("../image/section3.jpg");
}
